

.movies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.movie-item {
    flex-grow: 1;
    flex-basis: 10rem;
    max-width: 10rem;
    background-color: #fff;
    border-radius: 5px;
    height: 18rem;
    margin: 0.5rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: #AAA;
    overflow: hidden;
    opacity: 0.8;
    transition: .3s;
    &:hover {
        opacity: 1;
        box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.3);   
    }
}

.wrapper-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    width: 100%;
}
.search-input {
    border-radius: 5px;
    font-size: 24px;
    padding: 1px 10px;
    height: 35px;
    width: 200px;
    border: 1px solid #e0e0e0;
    &::placeholder {
        color: #e0e0e0;
    }
}